.wordListBox::-webkit-scrollbar {
  width: 10px;
  height: 20px;
}

.wordListBox::-webkit-scrollbar-thumb {
  height: 30%;
  background: rgba(55, 65, 81, 1);
  border-radius: 8px;
}

.wordListBox::-webkit-scrollbar-track {
  background: rgba(55, 65, 81, 0.1);
}
